@model Gepa.Site.Models.ClassPlans.ChoresModel

<div class="modal fade" id="addChoresModal" tabindex="-1" role="dialog" aria-labelledby="addChoresModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar atividade</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="choresForm">
                
                <div class="modal-body">
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.ClassPlanId)

                    <div class="form-group">
                        @Html.LabelFor(m => m.Task)
                        @Html.TextBoxFor(m => m.Task, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(m => m.Task)
                    </div>

                    <div class="form-check">
                        @Html.CheckBoxFor(m => m.IsCompletedTask, new { @class = "form-check-input" })
                        @Html.LabelFor(m => m.IsCompletedTask, new { @class = "form-check-label" })
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save icon"></i>
                        @Language.Save
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="fas fa-times icon"></i>
                        @Language.Cancel
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#choresForm").submit(function (event) {           
            event.preventDefault();

            if (currentChoreObject == null) {
                var choreObject = objectifyForm($(this).serializeArray());
                choreObject.IsCompletedTask = $("#IsCompletedTask").prop('checked');
                choreObject.guid = generateNewGuid();
                choreList.push(choreObject);

                var checkBoxStatus = choreObject.IsCompletedTask ? "checked" : "";

                $("#choresListGroup").append('<a class="list-group-item list-group-item-action choreItem" data-guid="' + choreObject.guid + '"><input type="checkbox" class="form-check-input objectiveStatus" ' + checkBoxStatus + '>' + choreObject.Task + '</a>');
                showOrHideChorePlaceholder();
            } else {
                currentChoreObject.Task = $("#Task").val();
                currentChoreObject.IsCompletedTask = $("#IsCompletedTask").prop('checked');
                $(".choreItem").each(function (index) {
                    if ($(this).attr('data-guid') == currentChoreObject.guid) {
                        var checkBoxStatus = currentChoreObject.IsCompletedTask ? "checked" : "";
                        $(this).text('').append('<input type="checkbox" class="form-check-input objectiveStatus" ' + checkBoxStatus + ' >' + currentChoreObject.Task);
                    }
                });
            }

            $('#addChoresModal').modal('toggle');

        });

        $('#addChoresModal').on("hide.bs.modal", function () {
            $("#choresForm").trigger('reset');
        });

        $('#addChoresModal').on("show.bs.modal", function () {
            if (currentChoreObject != null) {
                $("#Task").val(currentChoreObject.Task);
                $("#IsCompletedTask").prop('checked', currentChoreObject.IsCompletedTask);
            }
        });
    });
</script>