@model Gepa.Site.Models.ClassPlans.LessonsContentModel

<div class="modal fade" id="lessonContentModal" tabindex="-1" role="dialog" aria-labelledby="lessonContentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lessonContentModalLabel">
                    @Language.AddContent
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="lessonContentForm">
                <div class="modal-body">
                    <div class="form-group">
                        @Html.HiddenFor(m => m.Id)

                        @Html.LabelFor(m => m.ContentValue)
                        @Html.TextBoxFor(m => m.ContentValue, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(m => m.ContentValue)
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btnModals btnSaveModals">
                        <i class="fas fa-save icon"></i>
                        @Language.Save
                    </button>

                    <button type="button" class="btn btn-secondary btnModals btnCancelModals" data-dismiss="modal">
                        <i class="fas fa-times icon"></i>
                        @Language.Cancel
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#lessonContentForm").submit(function (event) {
            event.preventDefault();
            if (currentLessonContentObject == null) {
                var lessonContentObject = objectifyForm($(this).serializeArray());
                lessonContentObject.guid = generateNewGuid();
                lessonContentList.push(lessonContentObject);
                $("#lessonContentListGroup").append('<a class="list-group-item list-group-item-action gepaContentsItem" data-guid="' + lessonContentObject.guid + '" >' + lessonContentObject.ContentValue + '</a>');
            } else {
                currentLessonContentObject.ContentValue = $("#ContentValue").val();
                $(".gepaContentsItem").each(function (index) {
                    if ($(this).attr('data-guid') == currentLessonContentObject.guid) {
                        $(this).text(currentLessonContentObject.ContentValue);
                    }
                });
            }
            $('#lessonContentModal').modal('toggle');
        });

        $('#lessonContentModal').on("show.bs.modal", function () {
            if (currentLessonContentObject != null) {
                $("#ContentValue").val(currentLessonContentObject.ContentValue);
            }
        });

        $('#lessonContentModal').on("hide.bs.modal", function () {
            $("#lessonContentForm").trigger('reset');
        });
    });
</script>