@model Gepa.Site.Models.ClassPlans.ClassPlanModel

@{
    ViewBag.Title = Language.CreateClassPlan;
}

<div class="container">
    <h1 class="gepaTitles">@Language.RegisterClassPlan</h1>

    @using (Html.BeginForm("CreateClassPlan", "ClassPlans", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Id)

        <div class="form-group">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", required = "required", placeholder = string.Format(Language.EnterFieldValueFormatted2, Language.Title.ToLower()) })
            @Html.ValidationMessageFor(m => m.Title)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control gepaTextArea", placeholder = string.Format(Language.EnterFieldValueFormatted, Language.Description.ToLower()) })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Methodology)
            @Html.TextAreaFor(m => m.Methodology, new { @class = "form-control gepaTextArea", placeholder = string.Format(Language.EnterFieldValueFormatted, Language.Methodology.ToLower()) })
        </div>

        <div class="form-group">
            <label>@Language.DivisionOfContent</label>
            <div id="lessonContentListGroup" class="list-group border">
            </div>

            <div style="margin: 10px 0;">
                <button id="addLessonContent" type="button" class="btn btn-outline-secondary btnGepaCRUD" data-toggle="modal" data-target="#lessonContentModal">@Language.Add</button>
                <button id="editLessonContent" class="btn btn-outline-secondary btnGepaCRUD">@Language.Edit</button>
                <button id="removeLessonContent" class="btn btn-outline-secondary btnGepaCRUD">@Language.Exclude</button>
            </div>
        </div>

        <div class="form-group">
            <label>@Language.Goals</label>
            <div id="classGoalsListGroup" class="list-group border">
            </div>

            <div style="margin: 10px 0;">
                <button id="addClassGoals" type="button" class="btn btn-outline-secondary btnGepaCRUD" data-toggle="modal" data-target="#classGoalsModal">@Language.Add</button>
                <button id="editClassGoals" class="btn btn-outline-secondary btnGepaCRUD">@Language.Edit</button>
                <button id="removeClassGoals" class="btn btn-outline-secondary btnGepaCRUD">@Language.Exclude</button>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Observation)
            @Html.TextAreaFor(m => m.Observation, new { @class = "form-control gepaTextArea", placeholder = string.Format(Language.EnterFieldValueFormatted3, Language.Observations.ToLower()) })
        </div>
        <button type="submit" class="btn gepaFormButtons">@Language.Save</button>
        <button class="btn gepaFormButtons">@Language.Cancel</button>
    }

    @Html.Partial("_AddLessonContentModal")
    @Html.Partial("_AddClassGoalsModal")
    @Html.Partial("_NoLessonContentSelected")
</div>

<script>
    var lessonContentList = [];
    var currentLessonContentObject = null;

    var classGoalList = [];
    var currentClassGoalObject = null;

    $(document).ready(function () {
        $("#addLessonContent").click(function (e) {
            e.preventDefault();
            currentLessonContentObject = null;

        });

        $("#editLessonContent").click(function (e) {
            e.preventDefault();

            if (currentLessonContentObject != null) {
                $('#lessonContentModal').modal('toggle');
            } else {
                $("#noLessonContentSelectedModal").modal('toggle');
            }

        });

        $("#removeLessonContent").click(function (e) {
            e.preventDefault();

            if (currentLessonContentObject != null) {
                $(".gepaContentsItem").each(function (index) {
                    if ($(this).attr('data-guid') == currentLessonContentObject.guid) {
                        $(this).remove();

                        for (var i = 0; i < lessonContentList.length; i++) {
                            if (lessonContentList[i].guid == currentLessonContentObject.guid) {
                                lessonContentList.splice(i, 1);
                                currentLessonContentObject = null;
                            }
                        }
                    }
                });
            } else {
                $("#noLessonContentSelectedModal").modal('toggle');
            }
        });

        $("#addClassGoals").click(function (e) {

            e.preventDefault();   
            currentClassGoalObject = null;
        });

        $("#editClassGoals").click(function (e) {
            e.preventDefault();

            if (currentClassGoalObject != null) {
                $('#classGoalsModal').modal('toggle');
            } else {
               
                alert("Selecione um objetivo! (Mensagem provisória)");
            }
        });

        $("#removeClassGoals").click(function (e) {
            e.preventDefault();

            if (currentClassGoalObject != null) {
                $(".gepaClassGoalsItem").each(function (index) {
                    if ($(this).attr('data-guid') == currentClassGoalObject.guid) {
                        $(this).remove();

                        for (var i = 0; i < classGoalList.length; i++) {
                            if (classGoalList[i].guid == currentClassGoalObject.guid) {
                                classGoalList.splice(i, 1);
                                currentLessonContentObject = null;
                            }
                        }
                    }
                });
            } else {
                alert("Selecione um objetivo! (Mensagem provisória)");
                //$("#noLessonContentSelectedModal").modal('toggle');
            }
        });

        $(document).off("click", ".gepaContentsItem");
        $(document).on("click", ".gepaContentsItem", function () {
            if ($(this).hasClass("active")) {
                currentLessonContentObject = null;
                $(this).removeClass("active")
            } else {
                var selectedLessonContentGuid = $(this).attr('data-guid');

                for (var i = 0; i < lessonContentList.length; i++) {
                    currentLessonContentObject = lessonContentList[i];
                }

                $(".gepaContentsItem").removeClass("active")
                $(this).addClass("active")
            }
        });

        $(document).off("click", ".gepaClassGoalsItem");
        $(document).on("click", ".gepaClassGoalsItem", function () {
            if ($(this).hasClass("active")) {
                currentClassGoalObject = null;
                $(this).removeClass("active")
            } else {
                var selectedLessonContentGuid = $(this).attr('data-guid');

                for (var i = 0; i < classGoalList.length; i++) {
                    currentClassGoalObject = classGoalList[i];
                }

                $(".gepaClassGoalsItem").removeClass("active")
                $(this).addClass("active")
            }
        });
    });
</script>