@model Gepa.Site.Models.ClassPlans.ClassPlanModel

@{
    ViewBag.Title = Language.CreateClassPlan;
}

<div class="container">
    <h1 class="gepaTitles">@Language.RegisterClassPlan</h1>

    @using (Html.BeginForm("CreateClassPlan", "ClassPlans", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Id)

        <div class="form-group">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = string.Format(Language.EnterFieldValueFormatted2, Language.Title.ToLower()) })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control gepaTextArea", placeholder = string.Format(Language.EnterFieldValueFormatted, Language.Description.ToLower()) })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Methodology)
            @Html.TextAreaFor(m => m.Methodology, new { @class = "form-control gepaTextArea", placeholder = string.Format(Language.EnterFieldValueFormatted, Language.Methodology.ToLower()) })
        </div>

        <div class="form-group">
            <label>@Language.DivisionOfContent</label>
            <div class="list-group border" style="height: 150px; max-height: 150px;">

            </div>

            <div style="margin: 10px 0;">
                <button id="addLessonContent" class="btn btn-outline-secondary btnGepaCRUD" data-toggle="modal" data-target="#exampleModal">@Language.Add</button>
                <button id="editLessonContent" class="btn btn-outline-secondary btnGepaCRUD">@Language.Edit</button>
                <button id="removeLessonContent" class="btn btn-outline-secondary btnGepaCRUD">@Language.Exclude</button>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Observation)
            @Html.TextAreaFor(m => m.Observation, new { @class = "form-control gepaTextArea", placeholder = string.Format(Language.EnterFieldValueFormatted3, Language.Observations.ToLower()) })
        </div>
        <button type="submit" class="btn gepaFormButtons">@Language.Save</button>
        <button class="btn gepaFormButtons">@Language.Cancel</button>
    }

    @Html.Partial("_AddLessonContentModal");
</div>

<style>
    .btnGepaCRUD {
        width: 125px;
        border-radius: 50px;
        padding: 2.5px;
    }
</style>

<script>
    $(document).ready(function () {
        $("#addLessonContent").click(function (e) {
            e.preventDefault();
        });

        $("#editLessonContent").click(function (e) {
            e.preventDefault();
        });

        $("#removeLessonContent").click(function (e) {
            e.preventDefault();
        });
    });
</script>