@model Gepa.Site.Models.ClassPlans.ClassPlanModel

@{
    ViewBag.Title = Language.CreateClassPlan;
}

<div class="container">
    <h1 class="gepaTitles">@Language.RegisterClassPlan</h1>

    <div class="classPlanFormArea">
        @using (Html.BeginForm("SaveClassPlan", "ClassPlans", FormMethod.Post, new { id = "classPlanForm" }))
        {
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.TeacherId)

            <div class="form-group">
                @Html.LabelFor(m => m.Subject)
                @Html.TextAreaFor(m => m.Subject, new { @class = "form-control gepaTextArea gepa-form-controller", placeholder = string.Format(Language.EnterFieldValueFormatted, Language.Subject.ToLower()) })
            </div>

            <div style="display: flex;">
                <div class="form-group" style="width: 70%; margin-right: 5.5px;">
                    @Html.LabelFor(m => m.Title)
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control gepa-form-controller", required = "required", placeholder = string.Format(Language.EnterFieldValueFormatted2, Language.Title.ToLower()) })
                    @Html.ValidationMessageFor(m => m.Title)
                </div>

                <div class="form-group" style="width: 30%; margin-left: 5.5px;">
                    @Html.LabelFor(m => m.Date)
                    <div style="display: flex;">
                        @Html.EditorFor(m => m.Date, new { htmlAttributes = new { @class = "form-control date-picker gepaInputDate gepa-form-controller", style = "border-radius: unset !important;", placeholder = Language.SelectTheDate, autocomplete = "off" } })
                        <span class="gepa-form-controller" style="border-left: none !important;" onclick="$('#Date').trigger('focus')">
                            <i class="fas fa-calendar icon" style="margin: 0 5px; vertical-align: sub;"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control gepaTextArea gepa-form-controller", placeholder = string.Format(Language.EnterFieldValueFormatted, Language.Description.ToLower()) })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Methodology)
                @Html.TextAreaFor(m => m.Methodology, new { @class = "form-control gepaTextArea gepa-form-controller", placeholder = string.Format(Language.EnterFieldValueFormatted, Language.Methodology.ToLower()) })
            </div>

            <hr />

            <button type="button" data-toggle="collapse" data-target="#divisionOfContentDiv" class="btn btnColapse" title="@Language.DivisionOfContent">
                @Language.DivisionOfContent
                <i class="fas fa-eye icon"></i>
            </button>

            <div class="form-group collapse" id="divisionOfContentDiv">

                <div id="lessonContentListGroup" class="list-group gepa-form-controller">
                    <span class="placeholderListGroup lessonContentPlaceholder">
                        @Language.LessonContentPlaceholder
                    </span>
                </div>

                <div style="margin: 10px 0;">
                    <button id="addLessonContent" type="button" class="btn btn-outline-secondary btnGepaCRUD" data-toggle="modal" data-target="#lessonContentModal">
                        <i class="fas fa-plus icon"></i>
                        @Language.Add
                    </button>
                    <button id="editLessonContent" class="btn btn-outline-secondary btnGepaCRUD">
                        <i class="fas fa-edit icon"></i>
                        @Language.Edit
                    </button>
                    <button id="removeLessonContent" class="btn btn-outline-secondary btnGepaCRUD">
                        <i class="fas fa-trash icon"></i>
                        @Language.Exclude
                    </button>
                </div>
            </div>

            <hr />

            <button type="button" data-toggle="collapse" data-target="#goalsDiv" class="btn btnColapse" title="@Language.Goals">
                @Language.Goals
                <i class="fas fa-eye icon"></i>
            </button>

            <div class="form-group collapse" id="goalsDiv">

                <div id="classGoalsListGroup" class="list-group gepa-form-controller">
                    <span class="placeholderListGroup classGoalPlaceholder">
                        @Language.ClassGoalPlaceholder
                    </span>
                </div>

                <div style="margin: 10px 0;">
                    <button id="addClassGoals" type="button" class="btn btn-outline-secondary btnGepaCRUD" data-toggle="modal" data-target="#classGoalsModal">
                        <i class="fas fa-plus icon"></i>
                        @Language.Add
                    </button>
                    <button id="editClassGoals" class="btn btn-outline-secondary btnGepaCRUD">
                        <i class="fas fa-edit icon"></i>
                        @Language.Edit
                    </button>
                    <button id="removeClassGoals" class="btn btn-outline-secondary btnGepaCRUD">
                        <i class="fas fa-trash icon"></i>
                        @Language.Exclude
                    </button>
                </div>
            </div>

            <hr />

            <button type="button" data-toggle="collapse" data-target="#choresDiv" class="btn btnColapse" title="@Language.Chores">
                @Language.Chores
                <i class="fas fa-eye icon"></i>
            </button>

            <div class="form-group collapse" id="choresDiv">

                <div id="choresListGroup" class="list-group gepa-form-controller">
                    <span class="placeholderListGroup chorePlaceholder">
                        @Language.ChorePlaceholder
                    </span>
                </div>

                <div style="margin: 10px 0;">
                    <button id="addChore" type="button" class="btn btn-outline-secondary btnGepaCRUD" data-toggle="modal" data-target="#addChoresModal">
                        <i class="fas fa-plus icon"></i>
                        @Language.Add
                    </button>
                    <button id="editChore" class="btn btn-outline-secondary btnGepaCRUD">
                        <i class="fas fa-edit icon"></i>
                        @Language.Edit
                    </button>
                    <button id="removeChore" class="btn btn-outline-secondary btnGepaCRUD">
                        <i class="fas fa-trash icon"></i>
                        @Language.Exclude
                    </button>
                </div>
            </div>

            <hr />

            <button type="button" data-toggle="collapse" data-target="#evaluationsDiv" class="btn btnColapse" title="@Language.Evaluations">
                @Language.Evaluations
                <i class="fas fa-eye icon"></i>
            </button>

            <div class="form-group collapse" id="evaluationsDiv">

                <div id="evaluationsListGroup" class="list-group gepa-form-controller">
                    <span class="placeholderListGroup evaluationPlaceholder">
                        @Language.EvaluationPlaceholder
                    </span>
                </div>

                <div style="margin: 10px 0;">
                    <button id="addEvaluation" type="button" class="btn btn-outline-secondary btnGepaCRUD" data-toggle="modal" data-target="#addEvaluationModal">
                        <i class="fas fa-plus icon"></i>
                        @Language.Add
                    </button>
                    <button id="editEvaluation" class="btn btn-outline-secondary btnGepaCRUD">
                        <i class="fas fa-plus icon"></i>
                        @Language.Edit
                    </button>
                    <button id="removeEvaluation" class="btn btn-outline-secondary btnGepaCRUD">
                        <i class="fas fa-trash icon"></i>
                        @Language.Exclude
                    </button>
                </div>
            </div>

            <hr />

            <div class="form-group">
                @Html.LabelFor(m => m.Observation)
                @Html.TextAreaFor(m => m.Observation, new { @class = "form-control gepaTextArea gepa-form-controller", placeholder = string.Format(Language.EnterFieldValueFormatted3, Language.Observations.ToLower()) })
            </div>
            <button type="submit" class="btn btn-primary btnModals btnSaveModals">
                <i class="fas fa-save icon"></i>
                @Language.Save
            </button>
            <a class="btn btn-secondary btnModals btnCancelModals" href="@Url.Action("Index", "Dashboard")">
                <i class="fas fa-times icon"></i>
                @Language.Cancel
            </a>
        }
    </div>

    @{
        Html.RenderAction("ClassGoalsModalView", "ClassPlans", new { classGoalsModel = Model.ClassGoals });
        Html.RenderAction("LessonContentModalView", "ClassPlans", new { lessonsContentModel = Model.Contents });
        Html.RenderAction("EvaluationModalView", "ClassPlans", new { evaluationModel = Model.Evaluations });
        Html.RenderAction("ChoresModalView", "ClassPlans", new { choresModel = Model.Chores });

    }

    @Html.Partial("_NoItemSelectedModal")

    @Html.Partial("_RemoveLessonContentConfirmationModal")
    @Html.Partial("_RemoveClassGoalConfirmationModal")
    @Html.Partial("_RemoveChoreConfirmationModal")
    @Html.Partial("_RemoveEvaluationConfirmationModal")
</div>

<script>
    var isCompletedGoalText = '@Language.IsCompletedGoal';
    var isCompletedTaskText = '@Language.IsCompletedTask';

    $(function () {
        $(".date-picker").datepicker({
            dateFormat: 'dd/mm/yy',
            dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
            dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
            dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
            monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            nextText: 'Próximo',
            prevText: 'Anterior'
        })
    });

    var lessonContentList = @Html.Raw(Json.Encode(Model.Contents));
    var currentLessonContentObject = null;

    var classGoalList = @Html.Raw(Json.Encode(Model.ClassGoals));
    var currentClassGoalObject = null;

    var evaluationList = @Html.Raw(Json.Encode(Model.Evaluations));
    var currentEvaluationObject = null;

    var choreList = @Html.Raw(Json.Encode(Model.Chores));
    var currentChoreObject = null;

    function loadExistedContent() {
        lessonContentList.forEach(function (element) {
            element.guid = generateNewGuid();
            $("#lessonContentListGroup").append('<a class="list-group-item list-group-item-action gepaContentsItem" data-guid="' + element.guid + '" >' + element.ContentValue + '</a>');
        });

        classGoalList.forEach(function (element) {
            element.guid = generateNewGuid();
            var checkBoxStatus = element.IsCompleted ? "checked" : "";
            $("#classGoalsListGroup").append('<a class="list-group-item list-group-item-action gepaClassGoalsItem" data-guid="' + element.guid + '"><input type="checkbox" class="form-check-input objectiveStatus" data-toggle="tooltip" data-placement="top" title="' + isCompletedGoalText + '" ' + checkBoxStatus + '>' + element.Objective + '</a>');
        });

        choreList.forEach(function (element) {
            element.guid = generateNewGuid();
            var checkBoxStatus = element.IsCompletedTask ? "checked" : "";
            $("#choresListGroup").append('<a class="list-group-item list-group-item-action choreItem" data-guid="' + element.guid + '"><input type="checkbox" class="form-check-input objectiveStatus" data-toggle="tooltip" data-placement="top"  title="' + isCompletedTaskText + '" ' + checkBoxStatus + '>' + element.Task + '</a>');
        });

        evaluationList.forEach(function (element) {
            element.guid = generateNewGuid();
            $("#evaluationsListGroup").append('<a class="list-group-item list-group-item-action evaluationItem" data-guid="' + element.guid + '">' + element.EvaluationDescription + '</a>');
        });
    }

    function showOrHideLessonContentPlaceholder() {
        if ($(".gepaContentsItem").length == 0) {
            $(".lessonContentPlaceholder").show();
        } else {
            $(".lessonContentPlaceholder").hide();
        }
    }

    function showOrHideClassGoalPlaceholder() {
        if ($(".gepaClassGoalsItem").length == 0) {
            $(".classGoalPlaceholder").show();
        } else {
            $(".classGoalPlaceholder").hide();
        }
    }

    function showOrHideChorePlaceholder() {
        if ($(".choreItem").length == 0) {
            $(".chorePlaceholder").show();
        } else {
            $(".chorePlaceholder").hide();
        }
    }

    function showOrHideEvaluationPlaceholder() {
        if ($(".evaluationItem").length == 0) {
            $(".evaluationPlaceholder").show();
        } else {
            $(".evaluationPlaceholder").hide();
        }
    }

    $(document).ready(function () {
        loadExistedContent();
        showOrHideLessonContentPlaceholder();
        showOrHideClassGoalPlaceholder();
        showOrHideChorePlaceholder();
        showOrHideEvaluationPlaceholder();

        $("#addLessonContent").click(function (e) {
            e.preventDefault();
            currentLessonContentObject = null;

        });

        $("#editLessonContent").click(function (e) {
            e.preventDefault();
            if (currentLessonContentObject != null) {
                $('#lessonContentModal').modal('toggle');
            } else {
                $("#noItemSelectedModal").modal('toggle');
            }
        });

        $("#removeLessonContent").click(function (e) {
            e.preventDefault();

            if (currentLessonContentObject != null) {
                $("#removeLessonContentConfirmationModal").modal('toggle');
            } else {
                $("#noItemSelectedModal").modal('toggle');
            }
        });

        $("#addClassGoals").click(function (e) {
            e.preventDefault();
            currentClassGoalObject = null;
        });

        $("#editClassGoals").click(function (e) {
            e.preventDefault();

            if (currentClassGoalObject != null) {
                $('#classGoalsModal').modal('toggle');
            } else {
                $("#noItemSelectedModal").modal('toggle');
            }
        });

        $("#removeClassGoals").click(function (e) {
            e.preventDefault();

            if (currentClassGoalObject != null) {
                $("#removeClassGoalConfirmationModal").modal('toggle');
            } else {
                $("#noItemSelectedModal").modal('toggle');
            }
        });

        $("#addEvaluation").click(function (e) {
            e.preventDefault();
            currentEvaluationObject = null;
        });

        $("#editEvaluation").click(function (e) {
            e.preventDefault();
            if (currentEvaluationObject != null) {
                $('#addEvaluationModal').modal('toggle');
            } else {
                $("#noItemSelectedModal").modal('toggle');
            }
        });

        $("#removeEvaluation").click(function (e) {
            e.preventDefault();

            if (currentEvaluationObject != null) {
                $("#removeEvaluationConfirmationModal").modal('toggle');
            } else {
                $("#noItemSelectedModal").modal('toggle');
            }
        });

        $("#addChore").click(function (e) {
            e.preventDefault();
            currentChoreObject = null;
        });

        $("#editChore").click(function (e) {
            e.preventDefault();
            if (currentChoreObject != null) {
                $('#addChoresModal').modal('toggle');
            } else {
                $("#noItemSelectedModal").modal('toggle');
            }
        });

        $("#removeChore").click(function (e) {
            e.preventDefault();

            if (currentChoreObject != null) {
                $("#removeChoreConfirmationModal").modal('toggle');
            } else {
                $("#noItemSelectedModal").modal('toggle');
            }
        });

        $(document).off("click", ".gepaContentsItem");
        $(document).on("click", ".gepaContentsItem", function () {
            if ($(this).hasClass("active")) {
                currentLessonContentObject = null;
                $(this).removeClass("active")
            } else {
                var selectedLessonContentGuid = $(this).attr('data-guid');

                for (var i = 0; i < lessonContentList.length; i++) {
                    if (lessonContentList[i].guid == selectedLessonContentGuid)
                        currentLessonContentObject = lessonContentList[i];
                }

                $(".gepaContentsItem").removeClass("active")
                $(this).addClass("active")
            }
        });

        $(document).off("click", ".gepaClassGoalsItem");
        $(document).on("click", ".gepaClassGoalsItem", function () {
            if ($(this).hasClass("active")) {
                currentClassGoalObject = null;
                $(this).removeClass("active")
            } else {
                var selectedLessonContentGuid = $(this).attr('data-guid');

                for (var i = 0; i < classGoalList.length; i++) {
                    if (selectedLessonContentGuid == classGoalList[i].guid) {
                        currentClassGoalObject = classGoalList[i];
                    }
                }

                $(".gepaClassGoalsItem").removeClass("active")
                $(this).addClass("active")
            }
        });

        $(document).off("click", ".evaluationItem");
        $(document).on("click", ".evaluationItem", function () {
            if ($(this).hasClass("active")) {
                currentEvaluationObject = null;
                $(this).removeClass("active")
            } else {
                var selectedEvaluationGuid = $(this).attr('data-guid');

                for (var i = 0; i < evaluationList.length; i++) {
                    if (selectedEvaluationGuid == evaluationList[i].guid) {
                        currentEvaluationObject = evaluationList[i];
                    }
                }

                $(".evaluationItem").removeClass("active")
                $(this).addClass("active")
            }
        });

        $(document).off("click", ".choreItem");
        $(document).on("click", ".choreItem", function () {
            if ($(this).hasClass("active")) {
                currentChoreObject = null;
                $(this).removeClass("active")
            } else {
                var selectedEvaluationGuid = $(this).attr('data-guid');

                for (var i = 0; i < choreList.length; i++) {
                    if (selectedEvaluationGuid == choreList[i].guid) {
                        currentChoreObject = choreList[i];

                    }
                }

                $(".choreItem").removeClass("active")
                $(this).addClass("active")
            }
        });

        $(document).off("click", ".objectiveStatus");
        $(document).on("click", ".objectiveStatus", function () {
            var currentGuid = $(this).parents(".gepaClassGoalsItem").attr("data-guid");
            for (var i = 0; i < classGoalList.length; i++) {
                if (classGoalList[i].guid == currentGuid) {
                    classGoalList[i].IsCompleted = $(this).prop("checked");
                }
            }
        });

        $("#classPlanForm").submit(function (e) {
            e.preventDefault();
            var classPlan = objectifyForm($(this).serializeArray());
            classPlan.Contents = lessonContentList;
            classPlan.ClassGoals = classGoalList;
            classPlan.Evaluations = evaluationList;
            classPlan.Chores = choreList;
            var data = JSON.stringify(classPlan);
            $.ajax({
                type: "POST",
                url: $(this).attr('action'),
                data: data,
                contentType: "application/json",
                success: function (data) {
                    if (data) {
                        window.location.href = data;
                    }
                }
            })
        });

        $(".collapse").on("hide.bs.collapse", function () {
            var targget = $("button[data-target='#" + $(this).attr('id') + "']");
            $(targget.children()[0]).removeClass("fa-eye-slash");
            $(targget.children()[0]).addClass("fa-eye");
        });

        $(".collapse").on("show.bs.collapse", function () {
            var targget = $("button[data-target='#" + $(this).attr('id') + "']");
            $(targget.children()[0]).removeClass("fa-eye");
            $(targget.children()[0]).addClass("fa-eye-slash");
        });
    });
</script>