@{
    ViewBag.Title = "Home Page";
}

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="~/Content/Images/Gepa_Logo.png" class="d-inline-block align-top" alt="">
        @Language.Gepa
    </a>

    <a href="@Url.Action("Register", "Account")" id="registerButton" class="btn account-buttons" role="button">@Language.Register</a>
    <a href="@Url.Action("Login", "Account")" id="loginButton" class="btn account-buttons" role="button">@Language.Login</a>
</nav>

<div class="container">
    <h1 class="gepaTitles">Gerenciador de Planos de Aula - Gepa</h1>

    <div class="gepa-features">
        <div class="row">
            <div class="col">
                <div class="gepa-features-title">
                    @Language.GepaFeatureTitle1
                </div>
                <div class="gepa-features-content">
                    @Html.Raw(Language.GepaFeatureContent1)
                </div>
            </div>
            <div class="col" style="text-align: center;">

                <img class="gepa-features-img" src="~/Content/Images/teacher_home1.png" />
            </div>
        </div>

        <div class="row">
            <div class="col" style="text-align: center;">
                <img class="gepa-features-img" src="~/Content/Images/teacher_home2.jpg" />
            </div>
            <div class="col">
                <div class="gepa-features-title">
                    @Language.GepaFeatureTitle2
                </div>
                <div class="gepa-features-content">
                    @Language.GepaFeatureContent2
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="gepa-features-title">
                   
                </div>
                <div class="gepa-features-content">
                   
                </div>
            </div>
            <div class="col" style="text-align: center;">
                <img class="gepa-features-img" src="~/Content/Images/teacher_home1.png" />
            </div>
        </div>
    </div>
</div>