@{
    ViewBag.Title = "Home Page";
}

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="~/Content/Images/Gepa_Logo.png" class="d-inline-block align-top" alt="">
        @Language.Gepa
    </a>

    <a href="@Url.Action("Register", "Account")" id="registerButton" class="btn account-buttons" role="button">@Language.Register</a>
    <a href="@Url.Action("Login", "Account")" id="loginButton" class="btn account-buttons" role="button">@Language.Login</a>
</nav>

<div class="container">
    <h1 class="gepaTitles">Gerenciador de Planos de Aula - Gepa</h1>

    <div class="gepa-features">
        <div class="row">
            <div class="col">
                Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.
            </div>
            <div class="col" style="text-align: center;">
                <img class="gepa-features-img" src="~/Content/Images/teacher_home1.png" />
            </div>
        </div>

        <div class="row">
            <div class="col" style="text-align: center;">
                <img class="gepa-features-img" src="~/Content/Images/teacher_home1.png" />
            </div>
            <div class="col">
                Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.
            </div>
        </div>

        <div class="row">
            <div class="col">
                Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.
            </div>
            <div class="col" style="text-align: center;">
                <img class="gepa-features-img" src="~/Content/Images/teacher_home1.png" />
            </div>
        </div>

        <div class="row">
            <div class="col" style="text-align: center;">
                <img class="gepa-features-img" src="~/Content/Images/teacher_home1.png" />
            </div>
            <div class="col">
                Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.
            </div>
        </div>

    </div>
</div>