@model List<Gepa.Site.Models.ClassPlans.ClassPlanModel>

@{
    ViewBag.Title = "Painel Principal";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="~/Content/Images/Gepa_Logo.png" class="d-inline-block align-top" alt="">
        @Language.Gepa
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Language.ClassPlan
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="@Url.Action("Index","ClassPlans")">@Language.Register2</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Módulos</a>
            </li>
        </ul>
        @Html.Partial("_UserMenuPartial", (string)ViewBag.UserName)
    </div>
</nav>

<div>

    <h1 class="gepaTitles" style="text-align: center;">Planos de Aula</h1>

    @if (Model.Count > 0)
    {
        <table id="classPlansTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col" style="width: 50px;"></th>
                    <th scope="col">@Language.Title</th>
                    <th scope="col">@Language.Date</th>
                    <th scope="col" style="width: 75px;"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var classPlan in Model)
                {
                    <tr class="classPlanRow link-row" data-href="@Url.Action("EditClassPlan", "ClassPlans", new { classPlanId = classPlan.Id })">
                        <td>
                            <div style="display: flex">
                                @if (classPlan.Chores.FindAll(c => c.IsCompletedTask == false).ToList().Count > 0)
                                {
                                    <span class="alertPendencies" data-toggle="tooltip" data-placement="top" title="@Language.ChorePendencyMessage">
                                        <i class="fas fa-exclamation-triangle icon chorePendencies"></i>
                                    </span>
                                }

                                @if (classPlan.ClassGoals.FindAll(c => c.IsCompleted == false).ToList().Count > 0)
                                {
                                    <span class="alertPendencies" data-toggle="tooltip" data-placement="top" title="@Language.ClassGoalPendencyMessage">
                                        <i class="fas fa-exclamation-triangle icon classGoalsPendencies"></i>
                                    </span>
                                }
                            </div>
                        </td>

                        <td>@classPlan.Title</td>

                        <td>
                            @if (classPlan.Date != null)
                            {
                                @(((DateTime)classPlan.Date).ToString("dd/MM/yyyy"))
                            }

                        </td>

                        <td>
                            <a class="removeClassPlan" data-href="@Url.Action("RemoveClassPlan", "ClassPlans", new { classPlanId = classPlan.Id })" data-toggle="tooltip" data-placement="top" title="@Language.Exclude">
                                <i class="fas fa-trash icon"></i>
                            </a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <div class="border noClassPlansMessage">
            <h3>@Language.NoClassPlanSaved</h3>
        </div>
    }
</div>

@Html.Partial("_RemoveClassPlanConfirmationDialog")

<script type="text/javascript">

    var removeSelectedClassPlanUrl = null;

    $(document).ready(function (e) {
        $('.classPlanRow').click(function (e) {
            window.location = $(this).data("href");
        });

        $('.removeClassPlan').click(function (e) {
            e.stopPropagation();
            $("#confirmDeleteClassPlanModal").modal('toggle');
            removeSelectedClassPlanUrl = $(this).data("href");
            //window.location = $(this).data("href");
        });
    });
</script>

<style>
</style>