@{
    ViewBag.Title = "Login";
}

<div class="container">
    <h1 class="gepaTitles">@Language.Login</h1>

    <div class="gepaLogin">

        <div class="gepaLoginDivs">         

            <button class="connectButtons">
                <i class="fab fa-google"></i>
                @Language.ConnectGoogle
            </button>
        </div>

        <div class="text-left gepaLoginDivs displayInlineGrid">
            <span class="loginComponents loginLabels">@Language.EnterYourEmailAddressOrUsername</span>
            @Html.TextBox("usernameOrEmail", null, new { @class = "loginComponents" })

            <span class="loginComponents loginLabels">@Language.EnterYourPassword</span>
            @Html.Password("password", null, new { @class = "loginComponents" })
        </div>

        <div class="gepaLoginDivs">
            <button class="loginButton">@Language.Login</button>
        </div>

        <div class="text-center gepaLoginDivs displayInlineGrid">
            <a href="@Url.Action("RecoverPassword", "Account")">@Language.ForgotYourPassword</a>
            <a href="@Url.Action("Register", "Account")">@Language.DontHaveAccountYetDoRegister</a>
        </div>
    </div>
</div>