@model Gepa.Site.Models.Account.RegisterViewModel

@{
    ViewBag.Title = Language.Register;
}

<div class="container">
    <h1 class="gepaTitles">Registre-se</h1>

    <div class="gepaLogin">

        @Html.Partial("_ExternalGoogleLogin")

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="text-left gepaLoginDivs displayInlineGrid">
                @*<span class="loginComponents loginLabels">@Language.EnterYourEmailAddressOrUsername</span>
                    @Html.TextBox("usernameOrEmail", null, new { @class = "loginComponents" })*@
                @Html.LabelFor(m => m.Email, new { @class = "loginComponents loginLabels" })
                @Html.TextBoxFor(m => m.Email, new { @class = "loginComponents" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                @*<span class="loginComponents loginLabels">@Language.EnterYourPassword</span>
                    @Html.Password("password", null, new { @class = "loginComponents" })*@
                @Html.LabelFor(m => m.Password, new { @class = "loginComponents loginLabels" })
                @Html.PasswordFor(m => m.Password, new { @class = "loginComponents" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "loginComponents loginLabels" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "loginComponents" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>

            <div class="gepaLoginDivs">
                <button type="submit" class="loginButton">@Language.Register</button>
            </div>
        }
        <div class="text-center gepaLoginDivs displayInlineGrid">
            <a href="@Url.Action("Login", "Account")">@Language.AlreadyRegisteredSignIn</a>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}